 *{ outline: 1px solid rgb(58, 191, 196); }

body {
    font-family : "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;   
}
html {
    height: 100%
}
header, section {
    width: 960px;
    margin: 0 auto;
}
header{
    display: flex;
}
section{
    display: flex;
}
body {
    background: url(Fondo.jpg);
    background-size: 100%;
    }
article{
    width: 60%;
}
img {
   width: 200px;
   height: 200px; 
   margin-right: 16px;
}


}
